@font-face {
    font-family: "Chakra Petch-Regular";
    src: url('fonts/ChakraPetch-Regular.ttf') format('OpenType');
    font-weight: 400;
    font-style: normal;
}

:root {
    --cor-de-fundo: rgb(26, 25, 25);
    --vermelho: rgb(90, 30, 30);
    --branco: #FFFFFF;
    --botao-ativo: rgb(14, 12, 34);
    --botao-inativo: rgba(19, 15, 63, 0.411);
    --texto-de-fundo: rgba(58, 55, 94, 0.3);
}


body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch-Regular', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--vermelho);
}

.botao {
    font-family: 'Chakra Petch-Regular', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 2em 4em 2em 4em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 4px solid var(--botao-ativo);
    border-right: 4px solid var(--botao-ativo);
    border-top: none;
}

.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--vermelho);
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}